[user]
	name = TAKAMURA Narimichi
	email = nari@nari64.com
	signingkey = A428F568
[push]
	default = current
[alias]
  st = status
  ci = commit -v
  co = checkout
  di = diff
  dif = diff
  piyo = clone
  puhs = push
  pus = push
  puh = push
  psuh = push
[github]
	user = nari-ex
	email = takamura@topotal.com
[core]
  editor = /usr/local/bin/vim
  excludesfile = ~/.gitignore
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	program = gpg2
[commit]
	gpgsign = true
